/* 左侧预约进度条 */
.progress-bar {
	padding-top: 40px;
	width: 67px;
	text-align: center;
}
.progress-bar li {
	line-height: 25px;
}
.line-edge {
	display: inline-block;
	width: 1px;
	height: 18px;
	border-left: 1px solid #dbdbdb;
}
.line-middle {
	display: inline-block;
	width: 1px;
	height: 76px;
	border-left: 1px solid #dbdbdb;
}
.step {
	padding-left: 1px;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	background: url("../images/gov-hall/step-bg.png") no-repeat center;
}
.completed {
	color: #39ab6c;
}
.completed .step {
	color: #fff;
	background: url("../images/gov-hall/completed-step-bg.png") no-repeat center;
}

/* 右侧确认预约 */
.booking-info {
	margin-top: 11px;
	width: 935px;
	height: 467px;
	overflow: auto;
}
.info-box {
	margin-left: 27px;
	width: 834px;
}
.info-box .check {
	margin: 35px 0 20px;
}

/* 表格 */
.info-box .info {
	width: 832px;
	border: 1px solid #dedede;
	border-bottom: 0;
}
.info tr {
	height: 50px;
	border-bottom: 1px solid #dedede;
}
.matters-name {
	width: 132px;
	text-align: center;
	background: #ebf6f0;
}
.matters-info {
	padding-left: 42px;
	padding-right: 35px;
}

/* 按钮 */
.buttons {
	margin: 98px auto 0;
	width: 364px;
}
