.content {
    width: 600px;
    height: 300px;
    background-color: #fff;
}

.content .header {
    height: 39px;
    line-height: 39px;
    background-color: #f4f4f4;
}

.header .title {
    margin-left: 22px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

.header .close {
    margin-top: 10px;
    margin-right: 12px;
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url("../images/gov-hall/close-btn.png") no-repeat;
    cursor: pointer;
}

.detail {
    font-size: 13px;
    color: #333;
    line-height: 40px;
    padding-top: 20px;
}

.detail>p {
    margin: 0 30px;
}

.detail>p>label,
.detail>p>span {
    float: left;
}

.detail>p>span>span {
    color: #e77918;
}